* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #424748;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:bisque;
}

a {
  color: #00B7FF;
}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#new-form *, #add-destination-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#new-form *,
#add-destination-form *,
#add-ticket-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}